*{
	margin: 0;
	padding: 0;
}
.container-1    {
	display: flex;
}

.container-2 {
	display: flex;
	justify-content: space-between;
}

.container-2-box {
	width: 27%;
}

.container-1 div , .container-2 div {	
	padding: 10px;
	border: 1px #ccc solid;
}

.box-1 {
	flex: 1;
	order: 1;
}

.box-2 {
	flex: 2;
	order: 2;
}

.box-3 {
	flex: 1;
	order: 3;
}

